@import "css3-mixins";

@mixin fill-space {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

@mixin link-color($color){
  a, a:link, a:hover, a:visited, a:active{
    color: $color;
  }
}

@mixin full-width(){
  @include media("<=phone"){
    width: 100%;
    max-width: 100%;
  }
  @include media(">phone", "<=tablet"){
    width: 100%;
    max-width: 100%;
  }
  @include media(">tablet", "<=laptop"){
    width: 100%;
    max-width: 100%;
  }
  @include media(">=laptop", "<desktop"){
    width: 100%;
    max-width: map-get($breakpoints, "laptop");
  }
  @include media(">=desktop"){
    width: 100%;
    max-width: 1200px;
  }
}
