nav{
  width: 100%;
  height: 100%;
  border: 0px;
  margin-bottom: 1rem;
  ul, li{
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  @include link-color($primary-main);
  a:hover{color: $secondary-main;}
  a{
    font-weight: 300;
    text-decoration: none;
  }
  #menu-trigger{display: none;}

  .navigation-menu{
    .navigation-menu, .submenu{display: none;}
  }
  span.text{display: block;}
  span.icon{display: none;}

  .nav-link-list-item.l0>a{
    span.text{display: none;}
    span.icon{
      display: block;
      .bg-target{fill: $secondary-main;}
    }
  }
  .navigation-menu .group{
    display: block;
  }

  &.standard{
    background-color: transparentize($primary-orth-dark, 0.1);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    height: 2.6em;
    padding: 0.4em 0 0.4em;
    a{
      font-size: 1.5em;
      line-height: 0.8em;
      @include media(">=laptop", "<desktop"){
        font-size: 1.3em;
      }
      @include media(">=desktop"){
        font-size: 1.6em;
      }
    }
    .nav-link-list-item.l0{
      display: flex;
      justify-content: space-between;
      align-items: center;
      &>a{
        order: 1;
        display: block;
        flex-basis: 5%;
        width: 5%;
        flex-grow: 0;
        flex-shrink: 0;
        span.text{display: none;}
        span.icon{
          display: block;
          .bg-target{fill: $secondary-main;}
        }
      }
    }
    .group{
      display: flex;
      flex-grow: 1;
      flex-shrink: 0;
      flex-basis: 45%;
      &>li{
        margin: 10px 1.2rem 10px;
      }
      &#group1{
        order: 2;
        justify-content: flex-end;
        margin-right: 1rem;
      }
      &#group2{
        order: 0;
        margin-left: 1rem;
      }
    }
  }
  &.minimized{
    position: fixed;
    @include full-width();
    background-color: $primary-orth-main;
  }
  &.flared{
    position: absolute;
    .navigation-menu.l0{
      position: relative;
    }
    .navigation-menu{
      span.text{
        display: block;
        position: absolute;
        left: -10000px;
        font-size: 1.8em;
        font-weight: 100;
        color: $primary-main;
        &.only{
          display: block;
        }
      }
      span.icon{
        display: block;
        .bg-target{
          fill: $primary-main;
        }
        .menu-icon:hover, #logo:hover{
          .bg-target{
            fill: $secondary-main;
          }
        }
      }
      .nav-link-list-item{
        position: absolute;
        display: block;
      }
      .nav-link-list-item a{
        display: block;
        position: relative;
        &:hover span.text{

          &:hover{
            color: $secondary-main;
          }
        }
      }
    }
  }
}
