@import "hex-bg";

html, body, #page-container{
  @include fill-space;
  box-sizing: content-box;
}

body{
  font-size: 4pt;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
}

#page-container{
  margin: 0 auto;
  display: flex;
  flex-direction: row-reverse;
  flex-grow: 1;
  justify-content: space-around;
  &>main{
    display: flex;
    flex-direction: column;
  }
}
