@import "hex-bg";
@import "lipsum";

html, body, #page-container{
  @include fill-space;
  box-sizing: content-box;
}

#page-container{
  margin: 0 auto;
  justify-content: flex-start;
  @include full-width();
  height: 100%;
  &>main{
    display: flex;
    flex-direction: column;
  }
}

main{
  margin: 1rem 0 1rem 0;
  background-color: rgba(31, 48, 56, 0.9);
  padding: 0.5rem 2.2rem 0;
  color: transparentize(white, 0.2);
  flex-grow: 1;
  flex-basis: 100%;
  font-weight: 100;
}
