/* -------------------------------------------------------------
  Sass CSS3 Mixins! The Cross-Browser CSS3 Sass Library
  By: Matthieu Aussaguel, http://www.mynameismatthieu.com, @matthieu_tweets

  List of CSS3 Sass Mixins File to be @imported and @included as you need

  The purpose of this library is to facilitate the use of CSS3 on different browsers avoiding HARD TO READ and NEVER
  ENDING css files

  note: All CSS3 Properties are being supported by Safari 5
  more info: http://www.findmebyip.com/litmus/#css3-properties

------------------------------------------------------------- */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,400italic);
/* line 1, ../scss/_type.scss */
body {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
}
@media (max-width: 767px) {
  /* line 1, ../scss/_type.scss */
  body {
    font-size: 10pt;
  }
}
@media (min-width: 769px) and (max-width: 960px) {
  /* line 1, ../scss/_type.scss */
  body {
    font-size: 12pt;
  }
}

@media (min-width: 960px) and (max-width: 1367px) {
  /* line 1, ../scss/_type.scss */
  body {
    font-size: 14pt;
  }
}

@media (min-width: 1368px) {
  /* line 1, ../scss/_type.scss */
  body {
    font-size: 16pt;
  }
}

/* line 1, ../scss/_slim-scroll.scss */
::-webkit-scrollbar {
  width: 8px;
}

/* line 4, ../scss/_slim-scroll.scss */
::-webkit-scrollbar-button {
  width: 8px;
  height: 5px;
}

/* line 8, ../scss/_slim-scroll.scss */
::-webkit-scrollbar-track {
  background: #eee;
  border: thin solid lightgray;
  box-shadow: 0px 0px 3px #dfdfdf inset;
  border-radius: 10px;
}

/* line 14, ../scss/_slim-scroll.scss */
::-webkit-scrollbar-thumb {
  background: #999;
  border: thin solid gray;
  border-radius: 10px;
}

/* line 19, ../scss/_slim-scroll.scss */
::-webkit-scrollbar-thumb:hover {
  background: #7d7d7d;
}

/* line 1, ../scss/_nav.scss */
nav {
  width: 100%;
  height: 100%;
  border: 0px;
  margin-bottom: 1rem;
}
/* line 6, ../scss/_nav.scss */
nav ul, nav li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
/* line 11, ../scss/_mixins.scss */
nav a, nav a:link, nav a:hover, nav a:visited, nav a:active {
  color: #03A9F4;
}
/* line 12, ../scss/_nav.scss */
nav a:hover {
  color: #ff0a73;
}
/* line 13, ../scss/_nav.scss */
nav a {
  font-weight: 300;
  text-decoration: none;
}
/* line 17, ../scss/_nav.scss */
nav #menu-trigger {
  display: none;
}
/* line 20, ../scss/_nav.scss */
nav .navigation-menu .navigation-menu, nav .navigation-menu .submenu {
  display: none;
}
/* line 22, ../scss/_nav.scss */
nav span.text {
  display: block;
}
/* line 23, ../scss/_nav.scss */
nav span.icon {
  display: none;
}
/* line 26, ../scss/_nav.scss */
nav .nav-link-list-item.l0 > a span.text {
  display: none;
}
/* line 27, ../scss/_nav.scss */
nav .nav-link-list-item.l0 > a span.icon {
  display: block;
}
/* line 29, ../scss/_nav.scss */
nav .nav-link-list-item.l0 > a span.icon .bg-target {
  fill: #ff0a73;
}
/* line 32, ../scss/_nav.scss */
nav .navigation-menu .group {
  display: block;
}
/* line 36, ../scss/_nav.scss */
nav.standard {
  background-color: rgba(31, 48, 56, 0.9);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  height: 2.6em;
  padding: 0.4em 0 0.4em;
}
/* line 42, ../scss/_nav.scss */
nav.standard a {
  font-size: 1.5em;
  line-height: 0.8em;
}
@media (min-width: 960px) and (max-width: 1367px) {
  /* line 42, ../scss/_nav.scss */
  nav.standard a {
    font-size: 1.3em;
  }
}

@media (min-width: 1368px) {
  /* line 42, ../scss/_nav.scss */
  nav.standard a {
    font-size: 1.6em;
  }
}
/* line 52, ../scss/_nav.scss */
nav.standard .nav-link-list-item.l0 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* line 56, ../scss/_nav.scss */
nav.standard .nav-link-list-item.l0 > a {
  order: 1;
  display: block;
  flex-basis: 5%;
  width: 5%;
  flex-grow: 0;
  flex-shrink: 0;
}
/* line 63, ../scss/_nav.scss */
nav.standard .nav-link-list-item.l0 > a span.text {
  display: none;
}
/* line 64, ../scss/_nav.scss */
nav.standard .nav-link-list-item.l0 > a span.icon {
  display: block;
}
/* line 66, ../scss/_nav.scss */
nav.standard .nav-link-list-item.l0 > a span.icon .bg-target {
  fill: #ff0a73;
}
/* line 70, ../scss/_nav.scss */
nav.standard .group {
  display: flex;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 45%;
}
/* line 75, ../scss/_nav.scss */
nav.standard .group > li {
  margin: 10px 1.2rem 10px;
}
/* line 78, ../scss/_nav.scss */
nav.standard .group#group1 {
  order: 2;
  justify-content: flex-end;
  margin-right: 1rem;
}
/* line 83, ../scss/_nav.scss */
nav.standard .group#group2 {
  order: 0;
  margin-left: 1rem;
}
/* line 89, ../scss/_nav.scss */
nav.minimized {
  position: fixed;
  width: 100%;
  max-width: 960px;
  background-color: #56798b;
}
@media handheld and (max-width: 320px) and (-webkit-min-device-pixel-ratio: 2), handheld and (max-width: 320px) and (min-resolution: 192dpi), handheld and (max-width: 320px) and (min-resolution: 2dppx) {
  /* line 89, ../scss/_nav.scss */
  nav.minimized {
    width: 100%;
    max-width: 100%;
  }
}

@media handheld and (min-width: 321px) and (max-width: 768px) and (-webkit-min-device-pixel-ratio: 2), handheld and (min-width: 321px) and (max-width: 768px) and (min-resolution: 192dpi), handheld and (min-width: 321px) and (max-width: 768px) and (min-resolution: 2dppx) {
  /* line 89, ../scss/_nav.scss */
  nav.minimized {
    width: 100%;
    max-width: 100%;
  }
}

@media handheld and (min-width: 769px) and (max-width: 960px) and (-webkit-min-device-pixel-ratio: 2), handheld and (min-width: 769px) and (max-width: 960px) and (min-resolution: 192dpi), handheld and (min-width: 769px) and (max-width: 960px) and (min-resolution: 2dppx) {
  /* line 89, ../scss/_nav.scss */
  nav.minimized {
    width: 100%;
    max-width: 100%;
  }
}

@media (min-width: 960px) and (max-width: 1367px) {
  /* line 89, ../scss/_nav.scss */
  nav.minimized {
    width: 100%;
    max-width: 960px;
  }
}

@media (min-width: 1368px) {
  /* line 89, ../scss/_nav.scss */
  nav.minimized {
    width: 100%;
    max-width: 1200px;
  }
}
/* line 94, ../scss/_nav.scss */
nav.flared {
  position: absolute;
}
/* line 96, ../scss/_nav.scss */
nav.flared .navigation-menu.l0 {
  position: relative;
}
/* line 100, ../scss/_nav.scss */
nav.flared .navigation-menu span.text {
  display: block;
  position: absolute;
  left: -10000px;
  font-size: 1.8em;
  font-weight: 100;
  color: #03A9F4;
}
/* line 107, ../scss/_nav.scss */
nav.flared .navigation-menu span.text.only {
  display: block;
}
/* line 111, ../scss/_nav.scss */
nav.flared .navigation-menu span.icon {
  display: block;
}
/* line 113, ../scss/_nav.scss */
nav.flared .navigation-menu span.icon .bg-target {
  fill: #03A9F4;
}
/* line 117, ../scss/_nav.scss */
nav.flared .navigation-menu span.icon .menu-icon:hover .bg-target, nav.flared .navigation-menu span.icon #logo:hover .bg-target {
  fill: #ff0a73;
}
/* line 122, ../scss/_nav.scss */
nav.flared .navigation-menu .nav-link-list-item {
  position: absolute;
  display: block;
}
/* line 126, ../scss/_nav.scss */
nav.flared .navigation-menu .nav-link-list-item a {
  display: block;
  position: relative;
}
/* line 131, ../scss/_nav.scss */
nav.flared .navigation-menu .nav-link-list-item a:hover span.text:hover {
  color: #ff0a73;
}

/* line 3, ../scss/_header.scss */
header {
  position: relative;
  margin: 0px;
  padding: 0px;
}

/* line 1, ../scss/_hex-bg.scss */
#backgrounds {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  box-sizing: content-box;
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  z-index: -1;
  background-color: #01425f;
}
/* line 7, ../scss/_hex-bg.scss */
#backgrounds > div {
  position: absolute;
  width: 100%;
  height: 100%;
}
/* line 12, ../scss/_hex-bg.scss */
#backgrounds #bg-radial-gradient {
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PHJhZGlhbEdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjIwJSIgcj0iNzAlIj48c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjZmZmZmZmIiBzdG9wLW9wYWNpdHk9IjAuMTkiLz48c3RvcCBvZmZzZXQ9IjcwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIvPjwvcmFkaWFsR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background: -moz-radial-gradient(50% 20%, farthest-corner, rgba(255, 255, 255, 0.19), #000000 70%);
  background: -webkit-radial-gradient(50% 20%, farthest-corner, rgba(255, 255, 255, 0.19), #000000 70%);
  background: radial-gradient(farthest-corner at 50% 20%, rgba(255, 255, 255, 0.19), #000000 70%);
}
/* line 15, ../scss/_hex-bg.scss */
#backgrounds #bg-sticks {
  /*background-image: url("/assets/images/hexagon-pattern-bg-sticks-optimized.svg");*/
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='14' viewBox='0 0 8 14'%3E%3Cpath d='M2.67 0v1.556L0 3.11v7.78l2.67 1.554V14h2.67v-1.556L8 10.894V3.106l-2.66-1.55V0H2.67zm1.334 3.89l2.67 1.553v3.114l-2.67 1.554-2.67-1.553V5.443l2.67-1.554z'/%3E%3C/svg%3E");
  opacity: 0.5;
}
/* line 20, ../scss/_hex-bg.scss */
#backgrounds #bg-fills {
  /*background-image: url("/assets/images/hexagon-pattern-bg-fills-optimized.svg");*/
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='14' viewBox='0 0 8 14'%3E%3Cpath d='M0 0v3.11l2.67-1.553V0H0zm5.34 0v1.556L8 3.107V0H5.34zM4.003 3.89l-2.67 1.554v3.112l2.67 1.555 2.67-1.553V5.444L4.004 3.89zM0 10.89V14h2.67v-1.556L0 10.89zm8 .003l-2.66 1.55V14H8v-3.107z' fill='%23fff'/%3E%3C/svg%3E");
  opacity: 0.1;
}
/* line 25, ../scss/_hex-bg.scss */
#backgrounds .pattern {
  background-repeat: repeat;
}

/* line 6, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="1"] p:nth-child(1) {
  display: block;
}
/* line 9, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="1"] p:nth-child(2) {
  display: none;
}
/* line 9, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="1"] p:nth-child(3) {
  display: none;
}
/* line 9, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="1"] p:nth-child(4) {
  display: none;
}
/* line 9, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="1"] p:nth-child(5) {
  display: none;
}
/* line 9, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="1"] p:nth-child(6) {
  display: none;
}
/* line 9, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="1"] p:nth-child(7) {
  display: none;
}
/* line 9, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="1"] p:nth-child(8) {
  display: none;
}
/* line 9, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="1"] p:nth-child(9) {
  display: none;
}
/* line 9, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="1"] p:nth-child(10) {
  display: none;
}
/* line 9, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="1"] p:nth-child(11) {
  display: none;
}
/* line 9, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="1"] p:nth-child(12) {
  display: none;
}
/* line 9, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="1"] p:nth-child(13) {
  display: none;
}
/* line 9, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="1"] p:nth-child(14) {
  display: none;
}
/* line 9, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="1"] p:nth-child(15) {
  display: none;
}
/* line 9, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="1"] p:nth-child(16) {
  display: none;
}
/* line 9, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="1"] p:nth-child(17) {
  display: none;
}
/* line 9, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="1"] p:nth-child(18) {
  display: none;
}
/* line 9, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="1"] p:nth-child(19) {
  display: none;
}
/* line 9, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="1"] p:nth-child(20) {
  display: none;
}
/* line 6, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="2"] p:nth-child(1) {
  display: block;
}
/* line 6, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="2"] p:nth-child(2) {
  display: block;
}
/* line 9, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="2"] p:nth-child(3) {
  display: none;
}
/* line 9, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="2"] p:nth-child(4) {
  display: none;
}
/* line 9, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="2"] p:nth-child(5) {
  display: none;
}
/* line 9, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="2"] p:nth-child(6) {
  display: none;
}
/* line 9, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="2"] p:nth-child(7) {
  display: none;
}
/* line 9, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="2"] p:nth-child(8) {
  display: none;
}
/* line 9, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="2"] p:nth-child(9) {
  display: none;
}
/* line 9, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="2"] p:nth-child(10) {
  display: none;
}
/* line 9, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="2"] p:nth-child(11) {
  display: none;
}
/* line 9, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="2"] p:nth-child(12) {
  display: none;
}
/* line 9, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="2"] p:nth-child(13) {
  display: none;
}
/* line 9, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="2"] p:nth-child(14) {
  display: none;
}
/* line 9, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="2"] p:nth-child(15) {
  display: none;
}
/* line 9, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="2"] p:nth-child(16) {
  display: none;
}
/* line 9, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="2"] p:nth-child(17) {
  display: none;
}
/* line 9, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="2"] p:nth-child(18) {
  display: none;
}
/* line 9, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="2"] p:nth-child(19) {
  display: none;
}
/* line 9, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="2"] p:nth-child(20) {
  display: none;
}
/* line 6, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="3"] p:nth-child(1) {
  display: block;
}
/* line 6, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="3"] p:nth-child(2) {
  display: block;
}
/* line 6, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="3"] p:nth-child(3) {
  display: block;
}
/* line 9, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="3"] p:nth-child(4) {
  display: none;
}
/* line 9, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="3"] p:nth-child(5) {
  display: none;
}
/* line 9, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="3"] p:nth-child(6) {
  display: none;
}
/* line 9, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="3"] p:nth-child(7) {
  display: none;
}
/* line 9, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="3"] p:nth-child(8) {
  display: none;
}
/* line 9, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="3"] p:nth-child(9) {
  display: none;
}
/* line 9, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="3"] p:nth-child(10) {
  display: none;
}
/* line 9, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="3"] p:nth-child(11) {
  display: none;
}
/* line 9, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="3"] p:nth-child(12) {
  display: none;
}
/* line 9, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="3"] p:nth-child(13) {
  display: none;
}
/* line 9, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="3"] p:nth-child(14) {
  display: none;
}
/* line 9, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="3"] p:nth-child(15) {
  display: none;
}
/* line 9, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="3"] p:nth-child(16) {
  display: none;
}
/* line 9, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="3"] p:nth-child(17) {
  display: none;
}
/* line 9, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="3"] p:nth-child(18) {
  display: none;
}
/* line 9, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="3"] p:nth-child(19) {
  display: none;
}
/* line 9, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="3"] p:nth-child(20) {
  display: none;
}
/* line 6, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="4"] p:nth-child(1) {
  display: block;
}
/* line 6, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="4"] p:nth-child(2) {
  display: block;
}
/* line 6, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="4"] p:nth-child(3) {
  display: block;
}
/* line 6, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="4"] p:nth-child(4) {
  display: block;
}
/* line 9, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="4"] p:nth-child(5) {
  display: none;
}
/* line 9, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="4"] p:nth-child(6) {
  display: none;
}
/* line 9, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="4"] p:nth-child(7) {
  display: none;
}
/* line 9, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="4"] p:nth-child(8) {
  display: none;
}
/* line 9, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="4"] p:nth-child(9) {
  display: none;
}
/* line 9, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="4"] p:nth-child(10) {
  display: none;
}
/* line 9, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="4"] p:nth-child(11) {
  display: none;
}
/* line 9, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="4"] p:nth-child(12) {
  display: none;
}
/* line 9, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="4"] p:nth-child(13) {
  display: none;
}
/* line 9, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="4"] p:nth-child(14) {
  display: none;
}
/* line 9, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="4"] p:nth-child(15) {
  display: none;
}
/* line 9, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="4"] p:nth-child(16) {
  display: none;
}
/* line 9, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="4"] p:nth-child(17) {
  display: none;
}
/* line 9, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="4"] p:nth-child(18) {
  display: none;
}
/* line 9, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="4"] p:nth-child(19) {
  display: none;
}
/* line 9, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="4"] p:nth-child(20) {
  display: none;
}
/* line 6, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="5"] p:nth-child(1) {
  display: block;
}
/* line 6, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="5"] p:nth-child(2) {
  display: block;
}
/* line 6, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="5"] p:nth-child(3) {
  display: block;
}
/* line 6, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="5"] p:nth-child(4) {
  display: block;
}
/* line 6, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="5"] p:nth-child(5) {
  display: block;
}
/* line 9, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="5"] p:nth-child(6) {
  display: none;
}
/* line 9, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="5"] p:nth-child(7) {
  display: none;
}
/* line 9, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="5"] p:nth-child(8) {
  display: none;
}
/* line 9, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="5"] p:nth-child(9) {
  display: none;
}
/* line 9, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="5"] p:nth-child(10) {
  display: none;
}
/* line 9, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="5"] p:nth-child(11) {
  display: none;
}
/* line 9, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="5"] p:nth-child(12) {
  display: none;
}
/* line 9, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="5"] p:nth-child(13) {
  display: none;
}
/* line 9, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="5"] p:nth-child(14) {
  display: none;
}
/* line 9, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="5"] p:nth-child(15) {
  display: none;
}
/* line 9, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="5"] p:nth-child(16) {
  display: none;
}
/* line 9, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="5"] p:nth-child(17) {
  display: none;
}
/* line 9, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="5"] p:nth-child(18) {
  display: none;
}
/* line 9, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="5"] p:nth-child(19) {
  display: none;
}
/* line 9, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="5"] p:nth-child(20) {
  display: none;
}
/* line 6, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="6"] p:nth-child(1) {
  display: block;
}
/* line 6, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="6"] p:nth-child(2) {
  display: block;
}
/* line 6, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="6"] p:nth-child(3) {
  display: block;
}
/* line 6, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="6"] p:nth-child(4) {
  display: block;
}
/* line 6, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="6"] p:nth-child(5) {
  display: block;
}
/* line 6, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="6"] p:nth-child(6) {
  display: block;
}
/* line 9, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="6"] p:nth-child(7) {
  display: none;
}
/* line 9, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="6"] p:nth-child(8) {
  display: none;
}
/* line 9, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="6"] p:nth-child(9) {
  display: none;
}
/* line 9, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="6"] p:nth-child(10) {
  display: none;
}
/* line 9, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="6"] p:nth-child(11) {
  display: none;
}
/* line 9, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="6"] p:nth-child(12) {
  display: none;
}
/* line 9, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="6"] p:nth-child(13) {
  display: none;
}
/* line 9, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="6"] p:nth-child(14) {
  display: none;
}
/* line 9, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="6"] p:nth-child(15) {
  display: none;
}
/* line 9, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="6"] p:nth-child(16) {
  display: none;
}
/* line 9, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="6"] p:nth-child(17) {
  display: none;
}
/* line 9, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="6"] p:nth-child(18) {
  display: none;
}
/* line 9, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="6"] p:nth-child(19) {
  display: none;
}
/* line 9, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="6"] p:nth-child(20) {
  display: none;
}
/* line 6, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="7"] p:nth-child(1) {
  display: block;
}
/* line 6, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="7"] p:nth-child(2) {
  display: block;
}
/* line 6, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="7"] p:nth-child(3) {
  display: block;
}
/* line 6, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="7"] p:nth-child(4) {
  display: block;
}
/* line 6, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="7"] p:nth-child(5) {
  display: block;
}
/* line 6, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="7"] p:nth-child(6) {
  display: block;
}
/* line 6, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="7"] p:nth-child(7) {
  display: block;
}
/* line 9, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="7"] p:nth-child(8) {
  display: none;
}
/* line 9, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="7"] p:nth-child(9) {
  display: none;
}
/* line 9, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="7"] p:nth-child(10) {
  display: none;
}
/* line 9, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="7"] p:nth-child(11) {
  display: none;
}
/* line 9, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="7"] p:nth-child(12) {
  display: none;
}
/* line 9, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="7"] p:nth-child(13) {
  display: none;
}
/* line 9, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="7"] p:nth-child(14) {
  display: none;
}
/* line 9, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="7"] p:nth-child(15) {
  display: none;
}
/* line 9, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="7"] p:nth-child(16) {
  display: none;
}
/* line 9, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="7"] p:nth-child(17) {
  display: none;
}
/* line 9, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="7"] p:nth-child(18) {
  display: none;
}
/* line 9, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="7"] p:nth-child(19) {
  display: none;
}
/* line 9, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="7"] p:nth-child(20) {
  display: none;
}
/* line 6, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="8"] p:nth-child(1) {
  display: block;
}
/* line 6, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="8"] p:nth-child(2) {
  display: block;
}
/* line 6, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="8"] p:nth-child(3) {
  display: block;
}
/* line 6, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="8"] p:nth-child(4) {
  display: block;
}
/* line 6, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="8"] p:nth-child(5) {
  display: block;
}
/* line 6, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="8"] p:nth-child(6) {
  display: block;
}
/* line 6, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="8"] p:nth-child(7) {
  display: block;
}
/* line 6, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="8"] p:nth-child(8) {
  display: block;
}
/* line 9, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="8"] p:nth-child(9) {
  display: none;
}
/* line 9, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="8"] p:nth-child(10) {
  display: none;
}
/* line 9, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="8"] p:nth-child(11) {
  display: none;
}
/* line 9, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="8"] p:nth-child(12) {
  display: none;
}
/* line 9, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="8"] p:nth-child(13) {
  display: none;
}
/* line 9, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="8"] p:nth-child(14) {
  display: none;
}
/* line 9, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="8"] p:nth-child(15) {
  display: none;
}
/* line 9, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="8"] p:nth-child(16) {
  display: none;
}
/* line 9, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="8"] p:nth-child(17) {
  display: none;
}
/* line 9, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="8"] p:nth-child(18) {
  display: none;
}
/* line 9, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="8"] p:nth-child(19) {
  display: none;
}
/* line 9, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="8"] p:nth-child(20) {
  display: none;
}
/* line 6, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="9"] p:nth-child(1) {
  display: block;
}
/* line 6, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="9"] p:nth-child(2) {
  display: block;
}
/* line 6, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="9"] p:nth-child(3) {
  display: block;
}
/* line 6, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="9"] p:nth-child(4) {
  display: block;
}
/* line 6, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="9"] p:nth-child(5) {
  display: block;
}
/* line 6, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="9"] p:nth-child(6) {
  display: block;
}
/* line 6, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="9"] p:nth-child(7) {
  display: block;
}
/* line 6, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="9"] p:nth-child(8) {
  display: block;
}
/* line 6, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="9"] p:nth-child(9) {
  display: block;
}
/* line 9, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="9"] p:nth-child(10) {
  display: none;
}
/* line 9, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="9"] p:nth-child(11) {
  display: none;
}
/* line 9, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="9"] p:nth-child(12) {
  display: none;
}
/* line 9, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="9"] p:nth-child(13) {
  display: none;
}
/* line 9, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="9"] p:nth-child(14) {
  display: none;
}
/* line 9, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="9"] p:nth-child(15) {
  display: none;
}
/* line 9, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="9"] p:nth-child(16) {
  display: none;
}
/* line 9, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="9"] p:nth-child(17) {
  display: none;
}
/* line 9, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="9"] p:nth-child(18) {
  display: none;
}
/* line 9, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="9"] p:nth-child(19) {
  display: none;
}
/* line 9, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="9"] p:nth-child(20) {
  display: none;
}
/* line 6, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="10"] p:nth-child(1) {
  display: block;
}
/* line 6, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="10"] p:nth-child(2) {
  display: block;
}
/* line 6, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="10"] p:nth-child(3) {
  display: block;
}
/* line 6, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="10"] p:nth-child(4) {
  display: block;
}
/* line 6, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="10"] p:nth-child(5) {
  display: block;
}
/* line 6, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="10"] p:nth-child(6) {
  display: block;
}
/* line 6, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="10"] p:nth-child(7) {
  display: block;
}
/* line 6, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="10"] p:nth-child(8) {
  display: block;
}
/* line 6, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="10"] p:nth-child(9) {
  display: block;
}
/* line 6, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="10"] p:nth-child(10) {
  display: block;
}
/* line 9, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="10"] p:nth-child(11) {
  display: none;
}
/* line 9, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="10"] p:nth-child(12) {
  display: none;
}
/* line 9, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="10"] p:nth-child(13) {
  display: none;
}
/* line 9, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="10"] p:nth-child(14) {
  display: none;
}
/* line 9, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="10"] p:nth-child(15) {
  display: none;
}
/* line 9, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="10"] p:nth-child(16) {
  display: none;
}
/* line 9, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="10"] p:nth-child(17) {
  display: none;
}
/* line 9, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="10"] p:nth-child(18) {
  display: none;
}
/* line 9, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="10"] p:nth-child(19) {
  display: none;
}
/* line 9, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="10"] p:nth-child(20) {
  display: none;
}
/* line 6, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="11"] p:nth-child(1) {
  display: block;
}
/* line 6, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="11"] p:nth-child(2) {
  display: block;
}
/* line 6, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="11"] p:nth-child(3) {
  display: block;
}
/* line 6, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="11"] p:nth-child(4) {
  display: block;
}
/* line 6, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="11"] p:nth-child(5) {
  display: block;
}
/* line 6, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="11"] p:nth-child(6) {
  display: block;
}
/* line 6, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="11"] p:nth-child(7) {
  display: block;
}
/* line 6, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="11"] p:nth-child(8) {
  display: block;
}
/* line 6, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="11"] p:nth-child(9) {
  display: block;
}
/* line 6, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="11"] p:nth-child(10) {
  display: block;
}
/* line 6, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="11"] p:nth-child(11) {
  display: block;
}
/* line 9, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="11"] p:nth-child(12) {
  display: none;
}
/* line 9, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="11"] p:nth-child(13) {
  display: none;
}
/* line 9, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="11"] p:nth-child(14) {
  display: none;
}
/* line 9, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="11"] p:nth-child(15) {
  display: none;
}
/* line 9, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="11"] p:nth-child(16) {
  display: none;
}
/* line 9, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="11"] p:nth-child(17) {
  display: none;
}
/* line 9, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="11"] p:nth-child(18) {
  display: none;
}
/* line 9, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="11"] p:nth-child(19) {
  display: none;
}
/* line 9, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="11"] p:nth-child(20) {
  display: none;
}
/* line 6, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="12"] p:nth-child(1) {
  display: block;
}
/* line 6, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="12"] p:nth-child(2) {
  display: block;
}
/* line 6, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="12"] p:nth-child(3) {
  display: block;
}
/* line 6, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="12"] p:nth-child(4) {
  display: block;
}
/* line 6, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="12"] p:nth-child(5) {
  display: block;
}
/* line 6, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="12"] p:nth-child(6) {
  display: block;
}
/* line 6, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="12"] p:nth-child(7) {
  display: block;
}
/* line 6, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="12"] p:nth-child(8) {
  display: block;
}
/* line 6, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="12"] p:nth-child(9) {
  display: block;
}
/* line 6, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="12"] p:nth-child(10) {
  display: block;
}
/* line 6, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="12"] p:nth-child(11) {
  display: block;
}
/* line 6, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="12"] p:nth-child(12) {
  display: block;
}
/* line 9, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="12"] p:nth-child(13) {
  display: none;
}
/* line 9, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="12"] p:nth-child(14) {
  display: none;
}
/* line 9, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="12"] p:nth-child(15) {
  display: none;
}
/* line 9, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="12"] p:nth-child(16) {
  display: none;
}
/* line 9, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="12"] p:nth-child(17) {
  display: none;
}
/* line 9, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="12"] p:nth-child(18) {
  display: none;
}
/* line 9, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="12"] p:nth-child(19) {
  display: none;
}
/* line 9, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="12"] p:nth-child(20) {
  display: none;
}
/* line 6, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="13"] p:nth-child(1) {
  display: block;
}
/* line 6, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="13"] p:nth-child(2) {
  display: block;
}
/* line 6, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="13"] p:nth-child(3) {
  display: block;
}
/* line 6, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="13"] p:nth-child(4) {
  display: block;
}
/* line 6, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="13"] p:nth-child(5) {
  display: block;
}
/* line 6, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="13"] p:nth-child(6) {
  display: block;
}
/* line 6, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="13"] p:nth-child(7) {
  display: block;
}
/* line 6, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="13"] p:nth-child(8) {
  display: block;
}
/* line 6, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="13"] p:nth-child(9) {
  display: block;
}
/* line 6, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="13"] p:nth-child(10) {
  display: block;
}
/* line 6, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="13"] p:nth-child(11) {
  display: block;
}
/* line 6, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="13"] p:nth-child(12) {
  display: block;
}
/* line 6, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="13"] p:nth-child(13) {
  display: block;
}
/* line 9, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="13"] p:nth-child(14) {
  display: none;
}
/* line 9, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="13"] p:nth-child(15) {
  display: none;
}
/* line 9, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="13"] p:nth-child(16) {
  display: none;
}
/* line 9, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="13"] p:nth-child(17) {
  display: none;
}
/* line 9, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="13"] p:nth-child(18) {
  display: none;
}
/* line 9, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="13"] p:nth-child(19) {
  display: none;
}
/* line 9, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="13"] p:nth-child(20) {
  display: none;
}
/* line 6, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="14"] p:nth-child(1) {
  display: block;
}
/* line 6, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="14"] p:nth-child(2) {
  display: block;
}
/* line 6, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="14"] p:nth-child(3) {
  display: block;
}
/* line 6, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="14"] p:nth-child(4) {
  display: block;
}
/* line 6, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="14"] p:nth-child(5) {
  display: block;
}
/* line 6, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="14"] p:nth-child(6) {
  display: block;
}
/* line 6, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="14"] p:nth-child(7) {
  display: block;
}
/* line 6, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="14"] p:nth-child(8) {
  display: block;
}
/* line 6, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="14"] p:nth-child(9) {
  display: block;
}
/* line 6, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="14"] p:nth-child(10) {
  display: block;
}
/* line 6, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="14"] p:nth-child(11) {
  display: block;
}
/* line 6, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="14"] p:nth-child(12) {
  display: block;
}
/* line 6, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="14"] p:nth-child(13) {
  display: block;
}
/* line 6, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="14"] p:nth-child(14) {
  display: block;
}
/* line 9, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="14"] p:nth-child(15) {
  display: none;
}
/* line 9, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="14"] p:nth-child(16) {
  display: none;
}
/* line 9, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="14"] p:nth-child(17) {
  display: none;
}
/* line 9, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="14"] p:nth-child(18) {
  display: none;
}
/* line 9, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="14"] p:nth-child(19) {
  display: none;
}
/* line 9, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="14"] p:nth-child(20) {
  display: none;
}
/* line 6, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="15"] p:nth-child(1) {
  display: block;
}
/* line 6, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="15"] p:nth-child(2) {
  display: block;
}
/* line 6, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="15"] p:nth-child(3) {
  display: block;
}
/* line 6, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="15"] p:nth-child(4) {
  display: block;
}
/* line 6, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="15"] p:nth-child(5) {
  display: block;
}
/* line 6, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="15"] p:nth-child(6) {
  display: block;
}
/* line 6, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="15"] p:nth-child(7) {
  display: block;
}
/* line 6, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="15"] p:nth-child(8) {
  display: block;
}
/* line 6, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="15"] p:nth-child(9) {
  display: block;
}
/* line 6, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="15"] p:nth-child(10) {
  display: block;
}
/* line 6, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="15"] p:nth-child(11) {
  display: block;
}
/* line 6, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="15"] p:nth-child(12) {
  display: block;
}
/* line 6, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="15"] p:nth-child(13) {
  display: block;
}
/* line 6, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="15"] p:nth-child(14) {
  display: block;
}
/* line 6, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="15"] p:nth-child(15) {
  display: block;
}
/* line 9, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="15"] p:nth-child(16) {
  display: none;
}
/* line 9, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="15"] p:nth-child(17) {
  display: none;
}
/* line 9, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="15"] p:nth-child(18) {
  display: none;
}
/* line 9, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="15"] p:nth-child(19) {
  display: none;
}
/* line 9, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="15"] p:nth-child(20) {
  display: none;
}
/* line 6, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="16"] p:nth-child(1) {
  display: block;
}
/* line 6, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="16"] p:nth-child(2) {
  display: block;
}
/* line 6, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="16"] p:nth-child(3) {
  display: block;
}
/* line 6, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="16"] p:nth-child(4) {
  display: block;
}
/* line 6, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="16"] p:nth-child(5) {
  display: block;
}
/* line 6, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="16"] p:nth-child(6) {
  display: block;
}
/* line 6, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="16"] p:nth-child(7) {
  display: block;
}
/* line 6, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="16"] p:nth-child(8) {
  display: block;
}
/* line 6, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="16"] p:nth-child(9) {
  display: block;
}
/* line 6, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="16"] p:nth-child(10) {
  display: block;
}
/* line 6, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="16"] p:nth-child(11) {
  display: block;
}
/* line 6, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="16"] p:nth-child(12) {
  display: block;
}
/* line 6, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="16"] p:nth-child(13) {
  display: block;
}
/* line 6, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="16"] p:nth-child(14) {
  display: block;
}
/* line 6, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="16"] p:nth-child(15) {
  display: block;
}
/* line 6, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="16"] p:nth-child(16) {
  display: block;
}
/* line 9, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="16"] p:nth-child(17) {
  display: none;
}
/* line 9, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="16"] p:nth-child(18) {
  display: none;
}
/* line 9, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="16"] p:nth-child(19) {
  display: none;
}
/* line 9, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="16"] p:nth-child(20) {
  display: none;
}
/* line 6, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="17"] p:nth-child(1) {
  display: block;
}
/* line 6, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="17"] p:nth-child(2) {
  display: block;
}
/* line 6, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="17"] p:nth-child(3) {
  display: block;
}
/* line 6, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="17"] p:nth-child(4) {
  display: block;
}
/* line 6, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="17"] p:nth-child(5) {
  display: block;
}
/* line 6, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="17"] p:nth-child(6) {
  display: block;
}
/* line 6, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="17"] p:nth-child(7) {
  display: block;
}
/* line 6, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="17"] p:nth-child(8) {
  display: block;
}
/* line 6, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="17"] p:nth-child(9) {
  display: block;
}
/* line 6, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="17"] p:nth-child(10) {
  display: block;
}
/* line 6, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="17"] p:nth-child(11) {
  display: block;
}
/* line 6, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="17"] p:nth-child(12) {
  display: block;
}
/* line 6, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="17"] p:nth-child(13) {
  display: block;
}
/* line 6, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="17"] p:nth-child(14) {
  display: block;
}
/* line 6, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="17"] p:nth-child(15) {
  display: block;
}
/* line 6, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="17"] p:nth-child(16) {
  display: block;
}
/* line 6, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="17"] p:nth-child(17) {
  display: block;
}
/* line 9, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="17"] p:nth-child(18) {
  display: none;
}
/* line 9, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="17"] p:nth-child(19) {
  display: none;
}
/* line 9, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="17"] p:nth-child(20) {
  display: none;
}
/* line 6, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="18"] p:nth-child(1) {
  display: block;
}
/* line 6, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="18"] p:nth-child(2) {
  display: block;
}
/* line 6, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="18"] p:nth-child(3) {
  display: block;
}
/* line 6, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="18"] p:nth-child(4) {
  display: block;
}
/* line 6, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="18"] p:nth-child(5) {
  display: block;
}
/* line 6, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="18"] p:nth-child(6) {
  display: block;
}
/* line 6, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="18"] p:nth-child(7) {
  display: block;
}
/* line 6, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="18"] p:nth-child(8) {
  display: block;
}
/* line 6, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="18"] p:nth-child(9) {
  display: block;
}
/* line 6, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="18"] p:nth-child(10) {
  display: block;
}
/* line 6, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="18"] p:nth-child(11) {
  display: block;
}
/* line 6, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="18"] p:nth-child(12) {
  display: block;
}
/* line 6, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="18"] p:nth-child(13) {
  display: block;
}
/* line 6, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="18"] p:nth-child(14) {
  display: block;
}
/* line 6, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="18"] p:nth-child(15) {
  display: block;
}
/* line 6, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="18"] p:nth-child(16) {
  display: block;
}
/* line 6, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="18"] p:nth-child(17) {
  display: block;
}
/* line 6, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="18"] p:nth-child(18) {
  display: block;
}
/* line 9, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="18"] p:nth-child(19) {
  display: none;
}
/* line 9, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="18"] p:nth-child(20) {
  display: none;
}
/* line 6, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="19"] p:nth-child(1) {
  display: block;
}
/* line 6, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="19"] p:nth-child(2) {
  display: block;
}
/* line 6, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="19"] p:nth-child(3) {
  display: block;
}
/* line 6, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="19"] p:nth-child(4) {
  display: block;
}
/* line 6, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="19"] p:nth-child(5) {
  display: block;
}
/* line 6, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="19"] p:nth-child(6) {
  display: block;
}
/* line 6, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="19"] p:nth-child(7) {
  display: block;
}
/* line 6, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="19"] p:nth-child(8) {
  display: block;
}
/* line 6, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="19"] p:nth-child(9) {
  display: block;
}
/* line 6, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="19"] p:nth-child(10) {
  display: block;
}
/* line 6, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="19"] p:nth-child(11) {
  display: block;
}
/* line 6, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="19"] p:nth-child(12) {
  display: block;
}
/* line 6, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="19"] p:nth-child(13) {
  display: block;
}
/* line 6, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="19"] p:nth-child(14) {
  display: block;
}
/* line 6, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="19"] p:nth-child(15) {
  display: block;
}
/* line 6, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="19"] p:nth-child(16) {
  display: block;
}
/* line 6, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="19"] p:nth-child(17) {
  display: block;
}
/* line 6, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="19"] p:nth-child(18) {
  display: block;
}
/* line 6, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="19"] p:nth-child(19) {
  display: block;
}
/* line 9, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="19"] p:nth-child(20) {
  display: none;
}
/* line 6, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="20"] p:nth-child(1) {
  display: block;
}
/* line 6, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="20"] p:nth-child(2) {
  display: block;
}
/* line 6, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="20"] p:nth-child(3) {
  display: block;
}
/* line 6, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="20"] p:nth-child(4) {
  display: block;
}
/* line 6, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="20"] p:nth-child(5) {
  display: block;
}
/* line 6, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="20"] p:nth-child(6) {
  display: block;
}
/* line 6, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="20"] p:nth-child(7) {
  display: block;
}
/* line 6, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="20"] p:nth-child(8) {
  display: block;
}
/* line 6, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="20"] p:nth-child(9) {
  display: block;
}
/* line 6, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="20"] p:nth-child(10) {
  display: block;
}
/* line 6, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="20"] p:nth-child(11) {
  display: block;
}
/* line 6, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="20"] p:nth-child(12) {
  display: block;
}
/* line 6, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="20"] p:nth-child(13) {
  display: block;
}
/* line 6, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="20"] p:nth-child(14) {
  display: block;
}
/* line 6, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="20"] p:nth-child(15) {
  display: block;
}
/* line 6, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="20"] p:nth-child(16) {
  display: block;
}
/* line 6, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="20"] p:nth-child(17) {
  display: block;
}
/* line 6, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="20"] p:nth-child(18) {
  display: block;
}
/* line 6, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="20"] p:nth-child(19) {
  display: block;
}
/* line 6, ../scss/_lipsum.scss */
.lipsum[lipsum-amount="20"] p:nth-child(20) {
  display: block;
}

/* line 4, ../scss/_page.scss */
html, body, #page-container {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  box-sizing: content-box;
}

/* line 9, ../scss/_page.scss */
#page-container {
  margin: 0 auto;
  justify-content: flex-start;
  width: 100%;
  max-width: 960px;
  height: 100%;
}
@media handheld and (max-width: 320px) and (-webkit-min-device-pixel-ratio: 2), handheld and (max-width: 320px) and (min-resolution: 192dpi), handheld and (max-width: 320px) and (min-resolution: 2dppx) {
  /* line 9, ../scss/_page.scss */
  #page-container {
    width: 100%;
    max-width: 100%;
  }
}

@media handheld and (min-width: 321px) and (max-width: 768px) and (-webkit-min-device-pixel-ratio: 2), handheld and (min-width: 321px) and (max-width: 768px) and (min-resolution: 192dpi), handheld and (min-width: 321px) and (max-width: 768px) and (min-resolution: 2dppx) {
  /* line 9, ../scss/_page.scss */
  #page-container {
    width: 100%;
    max-width: 100%;
  }
}

@media handheld and (min-width: 769px) and (max-width: 960px) and (-webkit-min-device-pixel-ratio: 2), handheld and (min-width: 769px) and (max-width: 960px) and (min-resolution: 192dpi), handheld and (min-width: 769px) and (max-width: 960px) and (min-resolution: 2dppx) {
  /* line 9, ../scss/_page.scss */
  #page-container {
    width: 100%;
    max-width: 100%;
  }
}

@media (min-width: 960px) and (max-width: 1367px) {
  /* line 9, ../scss/_page.scss */
  #page-container {
    width: 100%;
    max-width: 960px;
  }
}

@media (min-width: 1368px) {
  /* line 9, ../scss/_page.scss */
  #page-container {
    width: 100%;
    max-width: 1200px;
  }
}
/* line 14, ../scss/_page.scss */
#page-container.navFlared main {
  display: none;
}

/* line 17, ../scss/_page.scss */
main {
  display: flex;
  flex-direction: column;
  margin: 0 0 1rem 0;
  background-color: rgba(31, 48, 56, 0.9);
  padding: 0.5rem 2.2rem 0;
  color: rgba(255, 255, 255, 0.8);
  flex-grow: 1;
  flex-basis: 100%;
  font-weight: 100;
}

/* line 1, ../scss/_footer.scss */
footer {
  display: none;
}

/*# sourceMappingURL=style.css.map */
