/* -------------------------------------------------------------
  Sass CSS3 Mixins! The Cross-Browser CSS3 Sass Library
  By: Matthieu Aussaguel, http://www.mynameismatthieu.com, @matthieu_tweets

  List of CSS3 Sass Mixins File to be @imported and @included as you need

  The purpose of this library is to facilitate the use of CSS3 on different browsers avoiding HARD TO READ and NEVER
  ENDING css files

  note: All CSS3 Properties are being supported by Safari 5
  more info: http://www.findmebyip.com/litmus/#css3-properties

------------------------------------------------------------- */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,400italic);
/* line 1, ../scss/_type.scss */
body {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
}
@media (max-width: 767px) {
  /* line 1, ../scss/_type.scss */
  body {
    font-size: 10pt;
  }
}
@media (min-width: 769px) and (max-width: 960px) {
  /* line 1, ../scss/_type.scss */
  body {
    font-size: 12pt;
  }
}

@media (min-width: 960px) and (max-width: 1367px) {
  /* line 1, ../scss/_type.scss */
  body {
    font-size: 14pt;
  }
}

@media (min-width: 1368px) {
  /* line 1, ../scss/_type.scss */
  body {
    font-size: 16pt;
  }
}

/* line 1, ../scss/_nav.scss */
nav {
  width: 100%;
  height: 100%;
  background-color: rgba(31, 48, 56, 0.9);
  padding: 10px 0;
  border: 0px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
/* line 9, ../scss/_nav.scss */
nav ul, nav li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
/* line 11, ../scss/_mixins.scss */
nav a, nav a:link, nav a:hover, nav a:visited, nav a:active {
  color: #03A9F4;
}
/* line 15, ../scss/_nav.scss */
nav a:hover {
  color: #ff0a73;
}
/* line 16, ../scss/_nav.scss */
nav a {
  font-weight: 300;
  text-decoration: none;
  font-size: 1.5em;
  line-height: 0.8em;
}
/* line 24, ../scss/_nav.scss */
nav .navigation-menu span.text {
  display: block;
}
/* line 25, ../scss/_nav.scss */
nav .navigation-menu span.icon {
  display: none;
}
/* line 26, ../scss/_nav.scss */
nav .navigation-menu .navigation-menu, nav .navigation-menu .submenu {
  display: none;
}
/* line 27, ../scss/_nav.scss */
nav .navigation-menu .nav-link-list-item.l0 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* line 31, ../scss/_nav.scss */
nav .navigation-menu .nav-link-list-item.l0 > a {
  order: 1;
  flex-basis: 5%;
  flex-grow: 0;
  flex-shrink: 0;
}
/* line 33, ../scss/_nav.scss */
nav .navigation-menu .nav-link-list-item.l0 > a span.text {
  display: none;
}
/* line 34, ../scss/_nav.scss */
nav .navigation-menu .nav-link-list-item.l0 > a span.icon {
  display: block;
}
/* line 36, ../scss/_nav.scss */
nav .navigation-menu .nav-link-list-item.l0 > a span.icon .bg-target {
  fill: #ff0a73;
}
/* line 44, ../scss/_nav.scss */
nav .navigation-menu .nav-link-list-item.l0 .group {
  display: flex;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 45%;
}
/* line 49, ../scss/_nav.scss */
nav .navigation-menu .nav-link-list-item.l0 .group > li {
  margin: 10px 1.2em 10px;
}
/* line 52, ../scss/_nav.scss */
nav .navigation-menu .nav-link-list-item.l0 .group#group1 {
  order: 2;
  justify-content: flex-end;
}
/* line 56, ../scss/_nav.scss */
nav .navigation-menu .nav-link-list-item.l0 .group#group2 {
  order: 0;
}
/* line 64, ../scss/_nav.scss */
nav.flared {
  position: absolute;
  width: 100%;
  height: 100%;
}
/* line 68, ../scss/_nav.scss */
nav.flared .navigation-menu.l0 {
  position: relative;
}
/* line 72, ../scss/_nav.scss */
nav.flared .navigation-menu span.text {
  display: block;
  position: absolute;
  left: -10000px;
  font-size: 1.8em;
  font-weight: 100;
  color: #03A9F4;
}
/* line 79, ../scss/_nav.scss */
nav.flared .navigation-menu span.text.only {
  display: block;
}
/* line 83, ../scss/_nav.scss */
nav.flared .navigation-menu span.icon {
  display: block;
}
/* line 85, ../scss/_nav.scss */
nav.flared .navigation-menu span.icon .bg-target {
  fill: #03A9F4;
}
/* line 89, ../scss/_nav.scss */
nav.flared .navigation-menu span.icon .menu-icon:hover .bg-target, nav.flared .navigation-menu span.icon #logo:hover .bg-target {
  fill: #ff0a73;
}
/* line 94, ../scss/_nav.scss */
nav.flared .navigation-menu .nav-link-list-item {
  position: absolute;
  display: block;
}
/* line 98, ../scss/_nav.scss */
nav.flared .navigation-menu .nav-link-list-item a {
  display: block;
  position: relative;
}
/* line 103, ../scss/_nav.scss */
nav.flared .navigation-menu .nav-link-list-item a:hover span.text:hover {
  color: #ff0a73;
}

/* line 3, ../scss/_header.scss */
header {
  position: relative;
}

/* line 1, ../scss/_hex-bg.scss */
#backgrounds {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  box-sizing: content-box;
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  z-index: -1;
  background-color: #01425f;
}
/* line 7, ../scss/_hex-bg.scss */
#backgrounds > div {
  position: absolute;
  width: 100%;
  height: 100%;
}
/* line 12, ../scss/_hex-bg.scss */
#backgrounds #bg-radial-gradient {
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PHJhZGlhbEdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjIwJSIgcj0iNzAlIj48c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjZmZmZmZmIiBzdG9wLW9wYWNpdHk9IjAuMTkiLz48c3RvcCBvZmZzZXQ9IjcwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIvPjwvcmFkaWFsR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background: -moz-radial-gradient(50% 20%, farthest-corner, rgba(255, 255, 255, 0.19), #000000 70%);
  background: -webkit-radial-gradient(50% 20%, farthest-corner, rgba(255, 255, 255, 0.19), #000000 70%);
  background: radial-gradient(farthest-corner at 50% 20%, rgba(255, 255, 255, 0.19), #000000 70%);
}
/* line 15, ../scss/_hex-bg.scss */
#backgrounds #bg-sticks {
  /*background-image: url('/assets/images/hexagon-pattern-bg-sticks-optimized.svg');*/
  background-image: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" width="8" height="14" viewBox="0 0 8 13.999999"><path d="M2.67 0v1.556L0 3.11v7.78l2.67 1.554V14h2.67v-1.556L8 10.894V3.106l-2.66-1.55V0H2.67zm1.334 3.89l2.67 1.553v3.114l-2.67 1.554-2.67-1.553V5.443l2.67-1.554z"/></svg>');
  opacity: 0.5;
}
/* line 20, ../scss/_hex-bg.scss */
#backgrounds #bg-fills {
  /*background-image: url('/assets/images/hexagon-pattern-bg-fills-optimized.svg');*/
  background-image: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" width="8" height="14" viewBox="0 0 8 13.999999"><path d="M0 0v3.11l2.67-1.553V0H0zm5.34 0v1.556L8 3.107V0H5.34zM4.003 3.89l-2.67 1.554v3.112l2.67 1.555 2.67-1.553V5.444L4.004 3.89zM0 10.89V14h2.67v-1.556L0 10.89zm8 .003l-2.66 1.55V14H8v-3.107z" fill="#fff"/></svg>');
  opacity: 0.1;
}
/* line 25, ../scss/_hex-bg.scss */
#backgrounds .pattern {
  background-repeat: repeat;
}

/* line 3, ../scss/_page.scss */
html, body, #page-container {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  box-sizing: content-box;
}

/* line 8, ../scss/_page.scss */
#page-container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
@media (max-width: 320px) {
  /* line 8, ../scss/_page.scss */
  #page-container {
    width: 100%;
    max-width: 100%;
  }
}
@media (min-width: 321px) and (max-width: 768px) {
  /* line 8, ../scss/_page.scss */
  #page-container {
    width: 100%;
    max-width: 100%;
  }
}

@media (min-width: 769px) and (max-width: 960px) {
  /* line 8, ../scss/_page.scss */
  #page-container {
    width: 100%;
    max-width: 100%;
  }
}

@media (min-width: 960px) and (max-width: 1367px) {
  /* line 8, ../scss/_page.scss */
  #page-container {
    width: 100%;
    max-width: 960px;
  }
}

@media (min-width: 1368px) {
  /* line 8, ../scss/_page.scss */
  #page-container {
    width: 100%;
    max-width: 1200px;
  }
}
/* line 14, ../scss/_page.scss */
#page-container > main {
  display: flex;
  flex-direction: column;
}

/* line 1, ../scss/_footer.scss */
footer {
  display: none;
}

/*# sourceMappingURL=style.css.map */
